---
layout: default
title: home
active: home
---
<div class="posts">

    {% for page in site.pages %}
        {% if page.group contains 'first' %}
        <a class="post__item post__item--logo post__item--page post__item--{{ page.title }}" href="{{ page.url | prepend: site.baseurl }}">
            <object class="logo__svg" data="{{ '/img/logo--white.svg' | prepend: site.baseurl }}" type="image/svg+xml">
                <img class="logo__svg" src="{{ '/img/logo--white.svg' | prepend: site.baseurl }}" alt="{{ site.author }}">
            </object>
            <div class="post__details">
                <h5><strong>About</strong></h5>
            </div>
        </a>
        {% endif %}
    {% endfor %}

    {% for post in site.posts %}

        <a class="lazy post__item post__item--image" href="{{ post.url | prepend: site.baseurl }}">
            <img class="b-lazy" src="/img/placehold.jpg" data-src="{{ post.feature | prepend: site.baseurl }}">
            <div class="post__details">
                <h5><strong>{{ post.title }}</strong></h5>
            </div>
        </a>

    {% endfor %}

    {% for page in site.pages %}
        {% if page.group contains 'last' %}
        <a class="post__item post__item--logo post__item--page post__item--{{ page.title }}" href="{{ page.url | prepend: site.baseurl }}">
            <object class="logo__svg" data="{{ '/img/logo--white.svg' | prepend: site.baseurl }}" type="image/svg+xml">
                <img class="logo__svg" src="{{ '/img/logo--white.svg' | prepend: site.baseurl }}" alt="{{ site.author }}">
            </object>
            <div class="post__details">
                <h5><strong>Colophon</strong></h5>
            </div>
        </a>
        {% endif %}
    {% endfor %}

</div>
