<nav class="nav">
    <a class="nav__item nav__item--svg" href="/">
        <object class="svg svg--logo" data="{{ '/img/logo.svg' | prepend: site.baseurl }}" type="image/svg+xml">
            <img class="svg svg--logo" src="{{ '/img/logo.svg' | prepend: site.baseurl }}" alt="{{ site.author }}">
        </object>
    </a>
    <a class="nav__item nav__item--svg" href="/">
        <object class="svg svg--gallery" data="{{ '/img/gallery.svg' | prepend: site.baseurl }}" type="image/svg+xml">
            <img class="svg svg--gallery" src="{{ '/img/gallery.svg' | prepend: site.baseurl }}" alt="{{ site.author }}">
        </object>
    </a>
</nav>
