//
//  Raw Units
$raw__font-size:        17;
//
//  General Units
$base__font-size:       fontsize($raw__font-size);
$base__font-ratio:      1.333;
$base__font-unit:       1em;
$base__line-height:     1.5;
//
//  Typeface Rhythm
$h5__font-size:         $base__font-unit;
$h6__font-size:         $h5__font-size / $base__font-ratio;
$h4__font-size:         $h5__font-size * $base__font-ratio;
$h3__font-size:         $h4__font-size * $base__font-ratio;
$h2__font-size:         $h3__font-size * $base__font-ratio;
$h1__font-size:         $h2__font-size * $base__font-ratio;
