@font-face {
    font-family: 'MarkWeb-Bold';

    src: url('../fonts/mark/MarkWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: 'MarkWeb';

    src: url('../fonts/mark/MarkWeb.woff') format('woff');
}

@font-face {
    font-family: 'MarkScWeb-Bold';

    src: url('../fonts/mark/MarkScWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: 'MarkScWeb';

    src: url('../fonts/mark/MarkScWeb.woff') format('woff');
}
