---
layout: portfolio
---
<article class="posts">
    <header class="post__item post__item--intro">
        <div class="post__body">
            <h5><strong>{{ page.title }}</strong></h5>
            <p>
                {% for product in page.tags %}
                <span>{{ product.tag }}</span>
                {% endfor %}
                for <span>{{ page.client }}</span>
            </p>
            {% if page.content %}
            <p>
                {{ content }}
            </p>
            {% endif %}
            {% if page.link %}
            <p>
                <a class="btn btn--external" href="{{ page.link | prepend: site.baseurl }}" target="_blank">View Site</a>
            </p>
            {% endif %}
        </div>
    </header>
    {% for item in page.images %}
    <a class="lazy swipebox post__item post__item--image" href="{{ item.image | prepend: site.baseurl }}">
        <img class="b-lazy" src="/img/placehold.jpg" data-src="{{ item.image | prepend: site.baseurl }}">
    </a>
    {% endfor %}
</article>
