html {
    line-height: $base__line-height;
}

body {
    @include font(regular);
    font-feature-settings: "kern" 1, "ss01" 1, "pnum" 1;
    -webkit-font-feature-settings: "kern" 1, "ss01" 1, "pnum" 1;
    -moz-font-feature-settings: "kern" 1, "ss01" 1, "pnum" 1;
    -moz-font-feature-settings: "kern=1, ss01=1, pnum=1";
    -ms-font-feature-settings: "kern" 1, "ss01" 1, "pnum" 1;
    -o-font-feature-settings: "kern" 1, "ss01" 1, "pnum" 1;
}

h1, .h1 { font-size: $h1__font-size; }
h2, .h2 { font-size: $h2__font-size; }
h3, .h3 { font-size: $h3__font-size; }
h4, .h4 { font-size: $h4__font-size; }
h5, .h5 { font-size: $h5__font-size; }
h6, .h6 { font-size: $h6__font-size; }

p, .page__header {
    margin-bottom: rhythm(1);
}

img {
    max-width: 100%;
}

strong, em {
    @include font(bold);
}

.small-caps {
    @include font(regular--sc);
    text-transform: lowercase;
}
