.nav {
    display: flex;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    @media (min-width: 30em) {
        justify-content: space-between;
    }
}

.nav__item {
    padding: rhythm(1);

    text-decoration: none;
}

.nav__item--gallery {
    color: $primary__color;
}

.nav__item--logo {
    position: relative;

    &:hover {
        .logo__svg {
            cursor: pointer;
        }
    }

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';
    }
}

.nav__item--contact {
    display: flex;
}
